*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

html{
    font-size: 62.5%;
}

body{
    background-color: #090e22;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}